#container {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 3rem;
}

p {
  font-size: 1.25rem;
  font-weight: bold;
}

#count-down-box {
  margin: 1rem;
  font-size: 3rem;
  font-weight: bold;
  color: rgb(255, 75, 0);
}

iframe {
  display: block;
  margin: 2rem auto;
}