h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin: 3rem;
}

p {
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
}

#count-down-box {
  margin: 1rem;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: rgb(255, 75, 0);
}